body {
    position: fixed; 
}



.carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carouselFade {
    position: absolute;
    z-index: -1;
}


.cube-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    perspective: 2000px;
    background: black;
}

#cube {
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform-style: preserve-3d;
}

#cube figure {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    background: rgba(34, 34, 34, 0);
    color: white;
}

#cube figure div {
    height: inherit;
    background-size: cover;
    background-position: center;
}

#cube .front {
    transform: rotateY(0deg) translateZ(50vw) ;
    background: rgba(0, 0, 0, 0.90);
}

#cube .frontout {
    transform: rotateY(0deg) translateZ(57vw) ;
    /* background: rgba(0, 0, 0, 0.95); */
}

#cube .back {
    transform: rotateY(180deg) translateZ(50vw);
    background: rgba(0, 0, 0, 0.90);
    /* opacity:0.90; */
}

#cube .backout {
    transform: rotateY(180deg) translateZ(57vw);
    /* background: rgba(0, 0, 0, 0); */
    /* opacity:0.90; */
}

#cube .right {
    transform: rotateY(90deg) translateZ(50vw);
    background: rgba(0, 0, 0, 0.90);
    /* opacity:0.90; */
}
#cube .rightout {
    transform: rotateY(90deg) translateZ(57vw);
    /* background: rgba(0, 0, 0, 0.85); */
    /* opacity:0.90; */
}

#cube .left {
    transform: rotateY(-90deg) translateZ(50vw);
    background: rgba(0, 0, 0, 0.90);
    /* opacity:0.90; */
}

#cube .leftout {
    transform: perspective(600vw) rotateY(-90deg) translateZ(57vw);
    /* background: rgba(0, 0, 0, 0.85); */
    /* opacity:0.90; */
}

/* #cube .top {
    transform: rotateX(90deg) translateZ(50vw);
    background: mintgreen;
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(50vw);
    background: lavender;
    background-color: transparent;
} */

#cube {
    transform: translateZ(-50vw);
}

#cube {
    transition: transform 1.0s ease-in-out;
}

.button-wrap {
    position: absolute;
    bottom: 10px;
    right: 12.5%;
    transform: translateX(12.5%);
}

article {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

article img {
    max-height: 150px;
}

