<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>健身選單</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/htmleaf-demo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-second.css') }}">
</head>

<body>
    <!-- <div class="container"> -->
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-8  offset-lg-2"> -->
                <!-- <h3 class="mt-5">Live Streaming</h3> -->
                <img src="{{ url_for('video_feed') }}" width="0%">
            <!-- </div> -->

        <!-- </div>
    </div> -->
    <div class="wrap">
        <section class="cube-container">
            <div id="cube">
                <figure class="front">
                    <div class="col-md-12 col-sm-12" style="background-image: url({{ url_for('static', filename='img/fitness_1_squat.png') }});"></div>
                </figure>

                <figure class="back">
                    <div class="col-md-12" style="background-image: url({{ url_for('static', filename='img/fitness_4_Hip_thrust.png') }});"></div>
                </figure>

                <figure class="frontside">
                    <div class="col-md-12" style="background-image: url({{ url_for('static', filename='img/fitness_3_Side_lateral_raise.png') }});"></div>
                    
                </figure>
                <figure class="backside">
                    <div class="col-md-12" style="background-image: url({{ url_for('static', filename='img/fitness_5_Dumbbell_bench_press.png') }});"></div>
                </figure>

                <figure class="right">
                    <div class="col-md-12" style="background-image: url({{ url_for('static', filename='img/fitness_2_Bicycle_crunch.png') }});"></div>

                </figure>
                <figure class="left">
                    <div class="col-md-12" style="background-image: url({{ url_for('static', filename='img/fitness_6_Bent_Over_Row.png') }});"></div>
                </figure>
            </div>
        </section>

    </div>
    <img src="{{ url_for('video_feed') }}" width="0%">



    <script src="http://cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script>
        window.jQuery || document.write('<script src="js/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script type="text/javascript">
        var counter = 0;
        var page = 1;
        var up_count = 0;
        var down_count = 0;
        var right_count = 0;
        var left_count = 0;

        // 右按鈕
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowRight") {
                right_count += 1;
                if (right_count === 1) {
                    counter -= 60;
                    right_count = 0;
                    page >= 6 ? page = 1 : page += 1
                    console.log(page);
                    var rotation = 'translateZ( -50vw ) rotateY( ' + counter + 'deg )';
                    $('#cube').css('transform', rotation);
                }
            }
        });

        // 左按鈕
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowLeft") {
                left_count += 1;
                if (left_count === 1) {
                    counter += 60;
                    left_count = 0;
                    page <= 1 ? page = 6 : page -= 1
                    console.log(page);
                    var rotation = 'translateZ( -50vw ) rotateY( ' + counter + 'deg )';
                    $('#cube').css('transform', rotation);
                }
            }
        });

        // 回到主選單
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowDown") {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('index') }}"
                }
                console.log(`page is ${page}`);
            }
        })

        // 進入健身頁面
        // let pagenote = {
        //     "1":"squat",
        //     "2":"bicycle",
        //     "3":"side_lateral_raise",
        //     "4":"hip_thrust",
        //     "5":"dumbbell_bench_press",
        //     "6":"bent_over_row"
        // }

        // 無腦刻每個按鈕功能
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowUp" && page===1) {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('fitness',exercise_type = 'squat' ) }}"
                }
                console.log(`page is ${page}`);
            }
        })        
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowUp" && page===2) {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('fitness',exercise_type = 'bicycle' ) }}"
                }
                console.log(`page is ${page}`);
            }
        })        
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowUp" && page===3) {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('fitness',exercise_type = 'side_lateral_raise' ) }}"
                }
                console.log(`page is ${page}`);
            }
        })        
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowUp" && page===4) {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('fitness',exercise_type = 'hip_thrust' ) }}"
                }
                console.log(`page is ${page}`);
            }
        })        
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowUp" && page===5) {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('fitness',exercise_type = 'dumbbell_bench_press' ) }}"
                }
                console.log(`page is ${page}`);
            }
        })        
        $("body").on("keydown", function (ev) {
            if (ev.key === "ArrowUp" && page===6) {
                up_count += 1;
                if (up_count === 2) {
                    location.href = "{{ url_for('fitness',exercise_type = 'bent_over_row' ) }}"
                }
                console.log(`page is ${page}`);
            }
        })        

        // 淡入
        $(document).ready(function () {
            $('body').css('display', 'none');
            $('body').fadeIn(1000); //一開始淡入
        });

    </script>
</body>

</html>